---
import Layout from "@layouts/Layout/Layout.astro";
import { INDEX } from "./config";
import QuestionsIsland from "./QuestionsIsland/QuestionsIsland";
---

<Layout title={INDEX.display}>
  <main>
    <h1>Questions</h1>
    <QuestionsIsland client:load />
  </main>
</Layout>
