.btn {
  position: relative;
  padding: var(--sm) var(--lg);
  min-height: var(--h_input);
  background-color: var(--primary);
  border: none;
  border-radius: var(--md);
  color: inherit;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 2px solid currentColor;
  }

  &:disabled {
    cursor: not-allowed;
    background: transparent;
    outline: var(--border);
    opacity: 0.5;
  }

  &:not(:disabled):active {
    transform: scale(0.95);
  }

  .err {
    position: absolute;
    color: var(--red);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
